<!DOCTYPE html>
<html lang="en">
<head>
    <title>Công ty xây dựng phát đạt &mdash; Colorlib Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">



    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link href="~/css/aos.css" rel="stylesheet" />


    <link href="~/css/StyleH.css" rel="stylesheet" />

</head>
<body style="background-image: url('images/bg.jpg');">

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&autoLogAppEvents=1&version=v3.2&appId=343810702910182">
    </script>
    <div class="site-wrap">

        <div class="col-md-12" style="height:34px">
          <a href="#" style="color:black; font-family:Arial">  <p style="float:right; padding:7px; font-size:18px">Đăng nhập</p></a>
        </div>
        @RenderBody()
    </div>


</body>
</html>